extends layout

block content
  script(src="./javascripts/jquery.js")
  script(src="./javascripts/funciones.js")

    div(id="container")
      p Bienvenido a #{title}
      div
        h2 Estudiantes

