extends ../layout

block content
    div(class="container")
        br
        br
        header(class="major special")
            h2 Lista por Municipio
            p
                Para Se muestra una lista de los estudiantes ordenados por su municipio

        table
            thead
                th Nombre
                th Apellido Paterno
                th Apellido Materno
                th Municipio

            tbody(id="tablaMuni")
